body {
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: [left-gutter] 1fr [main] 12fr [right-gutter] 1fr;
  grid-column-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: [titles] 1fr [content] 4fr;
  grid-column: main;
  border: solid red 2px;
  overflow-y: scroll;
}

.titles {
  grid-column: titles;
  justify-content: center;
  align-items: center;
}

.content {
  grid-column: content;
  padding-left: 30px;
}

.poem-title {
  grid-column: titles;
  color: rgb(228, 187, 55);
}

.poem-content {
  color: rgb(99, 100, 99)
}
