body {
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: [left-gutter] 1fr [main] 12fr [right-gutter] 1fr;
  grid-column-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: [titles] 1fr [content] 2fr;
  grid-column: main;
  border: solid red 2px;
  overflow-y: scroll;
}

.titles {
  grid-column: titles;
  justify-content: center;
  align-items: center;
}

.content {
  grid-column: content;
  padding-left: 30px;
}

.poem-title {
  grid-column: titles;
  color: rgb(98, 93, 78);
  font-size: 20pt;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  line-height: 30px;
}

.poem-content {
  color: rgb(147, 45, 21);
  text-align: left;
  line-height: 20pt;
}
