body {
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: [left-gutter] 1fr [main] 12fr [right-gutter] 1fr;
  grid-column-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: [titles] 1fr [content] 2fr;
  grid-column: main;
  border: solid rgb(165, 78, 59) 2px;
  overflow-y: scroll;
}

.titles {
  grid-column: titles;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.content {
  grid-column: content;
  padding-left: 60px;
  opacity: 1;
  transition: 0.3s opacity;
}

.content.fade {
  opacity: 0;
  transition: 0.3s opacity;
}

.poem-title {
  transition-duration: 300ms;

  grid-column: titles;
  color: rgb(98, 93, 78);
  font-size: 20pt;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  line-height: 30px;
}

.poem-title:hover{
  color: rgba(44, 42, 35, 0.26);
  cursor: pointer;
  font-size: 20.5pt;
}

.poem-content {
  color: rgb(165, 78, 59);
  text-align: left;
  line-height: 15pt;
}
